h1 {
    text-align: center;
    background-color: beige;
    color: rgb(104, 109, 118);
    border-radius: 40%;
}

p {
    text-align: center;
}

.just {
    color: rgb(89, 116, 69);
}

.code {
    color: rgb(101, 129, 71);
}

.it {
    color: rgb(114, 151, 98);
}