h1 {
    text-align: center;
    background-color: beige;
    color: rgb(104, 109, 118);
    border-radius: 40%;
}

p {
    text-align: center;
}



/* its for div class colors */
/* .just {
    color: rgb(34, 77, 1);
}

.code {
    color: rgb(89, 172, 1);
}

.it {
    color: rgb(77, 255, 0);
} */